{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome.css') }}">
</head>
<div class="main_container">
	<img class="user_profile" alt="" src="{{ '../static/pic/Merck-logo.png' }}" data-holder-rendered="true">
	<h2>Welcome, Scientist!</h2>
	<h5>Please use the navigation buttons to explore patient data and view data visualization</h5>
	<div class="nav_buttons mb-0">
		<a class="button" href="{{ url_for('patients') }}">View Patients</a>
		<a class="button" href="{{ url_for('visualizations') }}">Visualizations</a>
	</div>
</div>

</html>
{% endblock %}